/* General styles */
body {
    font-family: Arial, sans-serif;
    
}

/* Header styles */
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    padding-left:  50px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

nav a:hover {
    background-color: #ddd;
}

/* Main styles */
main {
    max-width: 800px auto;
    margin: 0 auto;
    padding: 20px;
}
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem; /* More modern syntax for gap */
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 33px;
}
main h2{
    background-color: aqua;
}
main h3{
    text-decoration: solid;
    text-align: center;
    
}


.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}


.card h2 {
    text-align: center;
}
figure img{
    float: left;
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 5px black;
    padding-bottom: 5px;
    float: right;
}

/* Footer styles */
footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}